<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/geral.css">
    <title>Exercicio</title>
</head>

<body>
    <header>
        <div class="nome">
            <h1>LOVT</h1>
            <div class="bordao">
                <h2>You Love</h2>
                <h2 class="loft">Your loft</h2>
            </div>
            <img class="option" src="img/option.svg" alt="">
        </div>
    </header>
    <main>
        <div>
            <img class="img_1" src="img/img_1.svg" alt="img">

            <div class="background_buttom_left">
                <img src="img/background.svg" alt="botao de fundo">
            </div>
            <div class="background_buttom_rigth">
                <img src="img/background.svg" alt="botao de fundo">
            </div>

            <div class="left_buttom">
                <img src="img/left_arrow.svg" alt="botao">
            </div>
            <div class="rigth_buttom">
                <img src="img/rigth_arrow.svg" alt="botao">
            </div>
        </div>
        <div class="caixas">
            <div class="caixa_1">
                <img class="img_2" src="img/img_2.svg" alt="img">
                <div class="info_1">
                    <h3 class="preco">$1,200</h3>
                    <h3 class="status">NOVO</h3>
                </div>
                <h3 class="texto_caixas">Essa casa é grande, tem 2 metros de altura e cabe um elefante. Afinal pra que um elefante?</h3>
            </div>

            <div class="caixa_2">
                <img class="img_3" src="img/img_3.svg" alt="img">
                <div class="info_2">
                    <h3 class="preco">R$2,000</h3>
                    <h3 class="vendido">VENDIDO</h3>
                </div>
                <h3 class="texto_caixas">Essa casa tem um teto branco, onde tudo é possível e tudo transcende a compreensão própria. curtiu?
                </h3>
            </div>
        </div>
        <div class="texto">Seu Estilo</div>

        <section class="sessao_industrial">
            <img src="img/industrial.svg" alt="img">
            <div class="industrial">Industrial</div>
        </section>

        <section class="sessao_Moderno">
            <img src="img/moderno.svg" alt="img">
            <div class ="moderno">Moderno</div>
        </section>

        <section class="sessao_classico">
            <img src="img/classico.svg" alt="img">
            <div class="classico">Classico</div>
        </section>
    </main>

    <footer>
        <div class="rodape" > 
            <div>
                <img class="mapa" src="img/mapa.svg" alt="img">
            </div>
            <div class="texto_rodape">
                <p class="texto_rodape1">Você chegou até aqui</p>
                <p class="texto_rodape2">Meus parabéns</p>
                <p class="texto_rodape3">O que te custou?</p>
            
                <div class="midia_social">
                    <p>Midia Social</p>
                    <div class="icones">
                        <div class="insta">
                            <img src="img/icone_instagram.svg" alt="instagram">
                        </div>
                        <div class="face">
                            <img src="img/icone_facebook.svg" alt="facebook">
                        </div>
                        <div class="zap">
                            <img src="img/icone_whatsapp.svg" alt="whatsapp">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>